{% extends 'base.html.twig' %}

{% block metatitle %}
	Tout les articles de blog postés
{% endblock metatitle %}

{% block main %}
	<main>
		<section class="latest-articles">
			<h2>Derniers articles</h2>
			<div class="articles-list">
				{% for article in articles %}
					<div class="article-card">
						{% if article.image %}
							<img src="{{ article.image }}" alt="{{ article.title }}">
						{% endif %}
						<h3>{{ article.title }}</h3>
						<p><b>{{ article.description }}</b></p>
						<p>{{ article.content }}</p>
						<span>Publié le {{ article.createdAt | date('d/m/Y') }}</span>
					    </p>
				    </div>
			    {% endfor %}
		    </div>
	    </section>
    </main>
{% endblock main %}
