{% extends 'base.html.twig' %}

{% block metatitle %}
	{{ article.title }}
{% endblock metatitle %}

{% block main %}
	<main>
		<section class="latest-articles">
			<h2>{{ article.title }}</h2>
			<div class="articles-list">
                    <article class="article-card {% if article.category %}{{ article.category.color }}{% endif %}">
						{% if article.image %}
							<img src="{{ article.image }}" alt="{{ article.title }}">
						{% endif %}
						<h3>{{ article.title }}</h3>
						<p><b>{{ article.description }}</b></p>
						<p>{{ article.content }}</p>
						<span>Publié le {{ article.createdAt | date('d/m/Y') }}</span>
					    </p>
				    </article>
		    </div>
	    </section>
    </main>
{% endblock main %}
