{% extends 'base.html.twig' %}

{% block metatitle %}
	Modifiez votre article
{% endblock metatitle %}

{% block main %}

	<h1>Modifier un article</h1>


	<form method="POST" class="article-form">

		<label>Titre
			<input type="text" name="title" value="{{ article.title }}">
		</label>

		<label for="category">Catégorie de l'article
			<select name="category" id="category">
				{% if article.category is null %}
					<option value="" selected disabled>-- Veuillez choisir une catégorie --</option>
				{% else %}
					<option value="" disabled>-- Veuillez choisir une catégorie --</option>
				{% endif %}

				{% for category in categories %}
					<option value="{{ category.id }}" 
					{% if article.category and category.id == article.category.id %} selected {% endif %}>
					{{ category.title}}
					</option>
				{% endfor %}
			</select>
		</label>

		<label>Description
			<input type="text" name="description" value="{{ article.description }}">
		</label>

		<label>Contenu
			<textarea name="content">{{ article.content }}</textarea>
		</label>

		<label>Image
			<input type="text" name="image" value="{{ article.image }}">
		</label>

		<input type="submit">

	</form>

{% endblock main %}

{% block flashMessage %}
	{% for message in app.flashes('article_updated') %}
		<div class="success-message">
			{{ message }}
		</div>
	{% endfor %}
{% endblock flashMessage %}
